@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*フォームの送信*@
<div class="text-center">
    <h1 class="display-4 mb-4">Welcome</h1>
    <p class="h4">@Model.Message</p>
    <form asp-page="Index">
        <div class="form-group">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Password">Password</label>
            <input asp-for="@Model.Password" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Mail">Mail</label>
            <input asp-for="@Model.Mail" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Tel">Tel</label>
            <input asp-for="@Model.Tel" />
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="h4">@Model.Message</p>
    <p class="h4">@Model.getData(Model.id)</p>
</div>*@
